.hero
    &__part1, &__part2
        background-size: cover
        background-repeat: no-repeat
        background-position: 100% 100% 
        width: 50%
        float: left   

.part1__bckg
    height: 395px
    background-color: #0e1d2b
    opacity: 0.92
    position: relative

.part2__bckg
    position: relative
    height: 395px
    background-color: #ff9f1c
    opacity: 0.92

.part1__wrap, .part2__wrap
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    max-width: 422px
    width: 100%

.part2__wrap
    right: none
    left: 17%

.part1__title, .part2__title
    font-size: 65px
    font-family: "Rubik"
    line-height: 0.923

.part1__title
    color: #ffa326

.part2__title
    color: #ffffff

.part1__text, .part2__text
    font-size: 14px
    font-family: "Martel"
    line-height: 1.429

.part1__text
    color: #ffffff

.part2__text
    color: #0d1e2d
