@supports (display: flex) 
	.out 
		display: flex

@supports not (display: flex)
	.out
		float: left

.header
	margin: 52px auto
	padding: 0
	position: relative
	height: auto
	max-width: 845px
	width: 100%
	+clr
	&__container
		margin: 0
		padding: 0
		position: absolute
		top: 50%
		transform: translateY(-50%)
		background: red
		text-align: center
	&__wrap
		margin: 0

.logo
	display: inline-block
	&__link
		text-decoration: none
		font-size: 26px
		font-family: "Martel", sans-serif
		line-height: 0.669
	&__link:hover
		font-weight: bold
	&__part1, &__part2
		float: left
	&__part1
		color: #0e1d2b
	&__part2
		color: #ffa326

.nav
	display: inline-block
	a
		font-size: 16px
		font-family: "Martel", sans-serif
		color: #0e1d2b
		line-height: 1.087
		text-decoration: none
		margin: 5px
		box-sizing: border-box
		
	a:hover 
		font-weight: bold
		border-bottom: 3px solid #ffa326