#map
	height: 175px
    width: 100%
	
.out 
	display: block

.container
	max-width: 725px
	width: 100%
	margin: 0 auto

.wrap__title
	font-size: 60px
	font-family: "Rubik"
	color: #0d1624
	line-height: 1

.wrap__text
	font-size: 12.18px
	font-family: "Martel"
	color: #0b1d2c
	line-height: 1.286